@import "bootstrap-sprockets";
@import "bootstrap";

.dash {
  text-align: center;
  font-size: 22px;
  padding: 20px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.actions {
  margin-top: 10px;
}
