<div class="row">
  <% if defined?(total_sales) %>
    <div class="col-sm-3 col-xs-12">
      <div class="dash">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            Vendas
          </div>
          <div class="col-sm-6 col-xs-12">
            <%= total_sales %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if defined?(total_itens) %>
    <div class="col-sm-3 col-xs-12">
      <div class="dash">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            Itens
          </div>
          <div class="col-sm-6 col-xs-12">
            <%= total_itens %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if defined?(total_amount) %>
    <div class="col-sm-3 col-xs-12">
      <div class="dash">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            Quantidade
          </div>
          <div class="col-sm-6 col-xs-12">
            <%= total_amount %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if defined?(total_price) %>
    <div class="col-sm-3 col-xs-12">
      <div class="dash">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            Receita
          </div>
          <div class="col-sm-6 col-xs-12">
            <%= number_to_currency(
              total_price, precision: 2, unit: 'R$', separator: ','
            ) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
