<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/sales">Vendas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Importação</li>
  </ol>
</nav>

<h1>Importação de vendas</h1>

<%= notification %>

<%=
  render 'dash',
  total_itens: @sale.items.count,
  total_price: @sale.items.sum(:price)
%>

<%= render 'sales/items' %>
