<h1>Vendas</h1>

<p class="actions">
  <%= link_to 'Importar vendas', new_sale_path, class: "btn btn-primary"  %>
</p>

<table class="table">
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>
          <%= sale.id %>
        </td>
        <td>
          <%= sale.created_at %>
        </td>
        <td>
          <%= link_to "Ver itens", sale_path(sale) %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>
