<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/sales">Vendas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Items</li>
  </ol>
</nav>

<h1>Items</h1>

<%=
  render 'dash',
  total_itens: @sale.items.count,
  total_price: @sale.items.sum(:price)
%>

<%= render 'items' %>
